
@using yemnak.App_GlobalResources;
@using System.Web.Optimization;
@using System.Globalization;

@if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
{
    ViewBag.dir = "rtl"; ViewBag.rtl = true;
}

else
{
    ViewBag.dir = "ltr"; ViewBag.rtl = false;
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir=@ViewBag.dir>
@{
    Session["lang"] = CultureInfo.CurrentCulture.Name;
}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PSC Website and Application for Yemnak">
    <meta name="author" content="Shabbir-Salumberwala/Kamal-Ibrahim">
    <meta name="generator" content="Visual Studio 2015" />
    <meta name="application-name" content="PSC Yemnak website/App" />
    <meta name="keywords" content="HTML5,CSS3,MVC-5,JavaScript,Jquery,Razor,bootstrap-4">

    <title>@ViewBag.Title | Yemnak Concierge</title>

    @Styles.Render("~/Contents/Stylesheets/bootstrap/bootstrap")

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css" />

    @Styles.Render("~/Contents/Stylesheets/FontAwesome")

    @Styles.Render("~/Contents/Stylesheets/animate")

    @Styles.Render("~/Contents/Stylesheets/LocalStyles")

    @Styles.Render("~/Contents/Stylesheets/style" + (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "-rtl" : "") + ".css")


</head>
<body>
    <div class="topbar text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-3 col-3 img-flag">
                    <img class="img-fluid" src="~/Contents/Images/Flag_of_Kuwait.svg" />
                    <img class="img-fluid" src="~/Contents/Images/Flag_of_the_United_Kingdom.svg" />
                    <img class="img-fluid" src="~/Contents/Images/Flag_of_the_United_Arab_Emirates.svg" />
                </div>
                <div class="col-md-2 d-md-block d-none social_icons">
                    <a target="_blank" href="https://www.facebook.com/Yemnakq8/"><img src="~/Contents/Images/facebook_logo_white_x50.png" alt="Facebook Yemnak" /></a>
                    <a target="_blank" href="https://twitter.com/yemnakconcierge"><img src="~/Contents/Images/Twitter_logo_white_x50.png" /></a>
                    <a target="_blank" href="https://www.instagram.com/yemnak/"><img src="~/Contents/Images/instagram_logo_white_x50.png" /></a>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-6 col-6">
                    <h6>@SiteResources.ContactUs : 1824824  |  info@yemnak.com</h6>
                </div>

                <div class="ml-sm-auto ml-2 language">
                    @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                    {
                        @Html.ActionLink("English", ViewContext.RouteData.Values["action"].ToString() + "/", ViewContext.RouteData.Values["controller"].ToString(), new { language = "en-US" }, new { @class = "text-light fontEnL" })
                    }
                    else
                    {
                        @Html.ActionLink("العربي", ViewContext.RouteData.Values["action"].ToString() + "/", ViewContext.RouteData.Values["controller"].ToString(), new { language = "ar-KW" }, new { @class = "text-light fontArL" })
                    }
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <input type="checkbox"
                   id="nav-toggle"
                   aria-hidden="true">


            <div class="row">
                <div class="col-lg-2 order-lg-1 col-md-3 col-4 order-2">
                    <img class="img-fluid logo" src="~/Contents/Images/Yemnak_Logo.svg" />
                </div>

                @*<nav class="nav">
                    <label for="nav-toggle" class="nav-toggle">☰</label>
                    <h2>Home</h2>
                </nav>*@

                <div class="col-lg-10 order-lg-2 col-md-9 col-7 order-1 ml-auto navbar-Parent">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href=@Url.Action("Index","Home")><i class="fa fa-home" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @SiteResources.AboutUs
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="@Url.Action("Index","Home")#our_vision">@SiteResources.Our_Vision_Title</a>
                                        <a class="dropdown-item" href="@Url.Action("Index","Home")#our_vision">@SiteResources.Our_Mission_Title</a>
                                        <a class="dropdown-item" href="@Url.Action("Index","Home")#our_vision">@SiteResources.goals</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @SiteResources.Services
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="@Url.Action("Index","Home")#card">@SiteResources.Card_Title_First</a>
                                        <a class="dropdown-item" href="@Url.Action("Index","Home")#card">@SiteResources.Card_Title_Second</a>
                                    </div>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Home")#membership_card">@SiteResources.YemnakCards</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">@SiteResources.Media</a></li>
                                <li class="nav-item"><a class="nav-link" href=@Url.Action("ContactUs","Home")>@SiteResources.ContactUs</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <hr />

            <div class="header-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">@SiteResources.Header_heading</h2>
                        <h1 class="text-center">@SiteResources.Header_Heading_2</h1>
                        <p class="text-center">
                            @SiteResources.Home_Page_Header_Para
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 col-5">
                        <a href="#" class="btn btn-block btn-dark">@SiteResources.Learn_More_Btn</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <!-- #region Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 col-8 mx-auto">
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-6 text-center"><img class="img-fluid logo" src="~/Contents/Images/Yemnak_Logo.svg" /></div>
                        <div class="col-md-6 col-sm-6 col-6 text-center"><img class="img-fluid logo" src="~/Contents/Images/PSCLogo.svg" /></div>
                    </div>

                    <p class="text-justify text-light about_us">
                        @SiteResources.Footer_Aboutus
                    </p>
                </div>
                <div class="col-md-1 col-sm-1">
                    <hr class="d-none d-sm-block" width="1" style="background-color:#fff;height: 95%;" />
                    <hr class="d-block d-sm-none" style="background-color:#fff; width:85%" />
                </div>
                <div class="col-lg-7 col-md-6 col-sm-5 col-8 mx-auto text-light">
                    <div class="contact_details">
                        <div class="address">
                            <h2>@SiteResources.Address</h2>
                            @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                            {
                                <p>منطقة الوزارات، منطقة الشهداء، أمام بنك الكويت الوطنى، جنوب السرة</p>
                            }
                            else
                            {
                                <p>Ministry Zone, Al-Shuhadaa Governance Area,  Beside NBK Bank Building, South Surra</p>
                            }

                        </div>

                        <div class="contact">
                            <h2>@SiteResources.ContactUs</h2>
                            <p>1824824  |  info@yemnak.com</p>
                        </div>

                        <div class="social">
                            <a target="_blank" href="https://www.facebook.com/Yemnakq8/"> <img class="img-fluid" src="~/Contents/Images/facebook-fb-icon.svg" /></a>
                            <a target="_blank" href="https://twitter.com/yemnakconcierge"><img class="img-fluid" src="~/Contents/Images/twitter-icon.png" /></a>
                            <a target="_blank" href="#"><img class="img-fluid" src="~/Contents/Images/snapchat-icon.png" /></a>
                            <a target="_blank" href="https://www.instagram.com/yemnak/"><img class="img-fluid" src="~/Contents/Images/instagram-icon.png" /></a>
                        </div>

                    </div>

                    <div class="copyright">
                        <p>
                            @SiteResources.Copyright
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- #endregion -->

    @Scripts.Render("~/Contents/Scripts/jquery/jquery")

    @Scripts.Render("~/Contents/Scripts/popper/popper")

    @Scripts.Render("~/Contents/Scripts/bootstrap/bootstrap")

    @Scripts.Render("~/Contents/Scripts/modernizr/modernizr")

    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>

    @Scripts.Render("~/Contents/Scripts/LocalScripts")

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <script src="http://ataredo.com/external/code/lucid.js"></script>

        <script>
            $(window).on('load', function () {

                $(this).impulse();
            });
        </script>*@

    <script>
        $('#nav-toggle').on('click', function () {
            $('.nav').toggleClass('navopen');
            $('.nav-toggle').toggleClass('navrotate');
        });
    </script>


</body>
</html>