
@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PSC Website and Application for Yemnak">
    <meta name="author" content="Shabbir-Salumberwala/Kamal-Ibrahim">
    <meta name="generator" content="Visual Studio 2015" />
    <meta name="application-name" content="PSC Yemnak website/App" />
    <meta name="keywords" content="HTML5,CSS3,MVC-5,JavaScript,Jquery,Razor,bootstrap-4">

    <title>@ViewBag.Title | Yemnak Concierge</title>

    @Styles.Render("~/Contents/Stylesheets/bootstrap/bootstrap")

    @Styles.Render("~/Contents/Stylesheets/FontAwesome")

    @Styles.Render("~/Contents/Stylesheets/animate")

    @Styles.Render("~/Contents/Stylesheets/LocalStyles")


</head>
<body>
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 social_icons">
                    <a href="#"><img src="~/Contents/Images/facebook_logo_white_x50.png" alt="Facebook Yemnak" /></a>
                    <a href="#"><img src="~/Contents/Images/Twitter_logo_white_x50.png" /></a>
                    <a href="#"><img src="~/Contents/Images/instagram_logo_white_x50.png" /></a>
                </div>

                <div class="col-xl-4 col-lg-4">
                    <h6>Contact : 1824824  |  info@yemnak.com</h6>
                </div>

                <div class="ml-auto language">
                    <a href="#">English</a> | <a class="fontArL languageAr" href="#">العربي</a>
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-xl-2">
                    <img class="img-fluid logo" src="~/Contents/Images/Yemnak_Logo.svg" />
                </div>

                <div class="col-xl-10">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        @*<a class="navbar-brand" href="#">Navbar</a>*@
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Media</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Clients</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Membership Request</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <hr />

            <div class="header-content">
                <div class="row">
                    <div class="col-xl-12">
                        <h2 class="text-center">DIVERSIFIED SERVICES</h2>
                        <h1 class="text-center">UNVARYING QUALITY</h1>
                        <p class="text-center">
                            Yemnak's concierge service which provides customers with all the services they require, such
                            as completing government transactions in Kuwait also airport delivery which Yemnak
                            achieves the highest level of luxury for VIP's.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-4">
                        <a href="#" class="btn btn-block btn-dark">Learn More</a>
                    </div>
                </div>
            </div>



        </div>
    </header>

    @RenderBody()

    @Scripts.Render("~/Contents/Scripts/jquery/jquery")

    @Scripts.Render("~/Contents/Scripts/popper/popper")

    @Scripts.Render("~/Contents/Scripts/bootstrap/bootstrap")

    @Scripts.Render("~/Contents/Scripts/modernizr/modernizr")

    @Scripts.Render("~/Contents/Scripts/LocalScripts")

    @RenderSection("JavaScript", required: false)

</body>
</html>