
@using yemnak.App_GlobalResources;
@using System.Globalization;
@{
    ViewBag.Title = "Offical Website";
}

<!-- #region About-Us -->

<div id="about" class="about_us Primary-Text-Color">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-11 ml-4">
                <div class="title">
                    <h1 class="text-center">@SiteResources.About_Yemnak_Title</h1>
                    <h2 class="text-center">@SiteResources.About_Yemnak_Subtitle</h2>
                </div>
                <hr />
                <div class="description">
                    <p class="text-center">
                        @SiteResources.About_Yemnak_Para
                    </p>
                </div>
            </div>
        </div>

        <div class="our_vision">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <h1 class="text-center">@SiteResources.Our_Vision_Title</h1>
                    <p class="text-center">
                        @SiteResources.Our_Vision_Detail
                    </p>
                </div>
                <div class="col-lg-5 col-md-10 mx-md-auto col-12">
                    <img class="eyes" src="~/Contents/Images/pexels-eyes-photo.png" />
                </div>
            </div>
        </div>

        <div class="our_mission">
            <div class="row">
                <div class="col-md-9 ml-md-auto col-8 ml-2">
                    <p class="text-center">
                        @SiteResources.Our_Mission_Detail
                    </p>
                </div>

                <div class="col-3">
                    @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                    {
                        <img class="img-fluid" src="~/Contents/Images/Mission_ar.png" />
                    }
                    else
                    {
                        <img class="img-fluid" src="~/Contents/Images/Mission.png" />
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<!-- #endregion -->
<!-- #region Services -->

<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-7 ml-sm-auto mr-sm-auto col-5 ml-5 mr-1">
                <img class="img-fluid Yemnak_Service_Image" src="~/Contents/Images/Service_Yemnak.png" />
            </div>
            <div class="col-lg-5 col-md-6 col-sm-5 col-4 text-light">
                <h1 class="text-right">@SiteResources.Services_Title</h1>
                <h2 class="text-right">@SiteResources.Services_Subtitle</h2>
            </div>
        </div>
    </div>
</div>

<div class="services_Section2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-11 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">@SiteResources.Card_Title_First</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">
                            @SiteResources.Card_Title_First_Detail
                        </p>

                    </div>
                    <div class="card-footer">
                        <ul>
                            <li>@SiteResources.Card_Title_First_LIstitem_1</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_2</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_3</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_4</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_5</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_6</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_7</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_8</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_9</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_10</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_11</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_12</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_13</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_14</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_15</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_16</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-11 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">@SiteResources.Card_Title_Second</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">
                            @SiteResources.Card_Title_Second_Detail

                        </p>

                    </div>
                    <div class="card-footer">
                        <h5>@SiteResources.Card_Title_Second_Detail2</h5>
                        <br />
                        <ul>
                            <li>@SiteResources.Card_Title_Second_LIstitem_1</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_2</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_3</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_4</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_5</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_6</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_7</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_8</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_9</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_10</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="membership_card">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center membership_card">
                        @SiteResources.MembershipCard_Title
                    </h1>

                    <h2 class="text-center">
                        @SiteResources.MembershipCard_subtitle
                    </h2>
                </div>
            </div>
            <hr class="d-none d-sm-block" />
            <br class="d-sm-none" />
            <br class="d-sm-none" />
            <div class="row">
                <div class="col-md-6 col-sm-12 col-10 mx-auto"><img class="img-fluid rounded" src="~/Contents/Images/Classic_Card_Website.png"></div>
                <div class="col-md-6 col-sm-12 col-10 mx-auto"><img class="img-fluid rounded" src="~/Contents/Images/prestige_Card_Website.png"></div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-6 col-sm-12 col-10 mx-auto"><img class="img-fluid rounded" src="~/Contents/Images/Platinum_Card_Website.png"></div>
                <div class="col-md-6 col-sm-12 col-10 mx-auto"><img class="img-fluid rounded" src="~/Contents/Images/Premiere_Card_Website.png"></div>
            </div>
        </div>

    </div>
</div>

<!-- #endregion -->
<!-- #region Clients -->

<div id="clients" class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-10 mx-auto">
                <div class="clientslick">
                    <div>
                        <img src="~/Contents/Images/CMGS.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/MOJ.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/altijari.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/Viva.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/Warba_bank.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
