@using yemnak.App_GlobalResources;
@using System.Globalization;
@{
    ViewBag.Title = "Offical Website";
}

<!-- #region About-Us -->

<div id="about" class="about_us Primary-Text-Color">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-11 ml-4">
                <div class="title text-center">
                    <h1 class="text-center">@SiteResources.About_Yemnak_Title</h1>
                    <h2 class="text-center">@SiteResources.About_Yemnak_Subtitle</h2>
                </div>
                <hr />
                <div class="description">
                    <p class="text-center">
                        @SiteResources.About_Yemnak_Para
                    </p>
                </div>
            </div>
        </div>

        <div id="our_vision" class="our_vision">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <h1 class="text-center">@SiteResources.Our_Vision_Title</h1>
                    <p class="text-center">
                        @SiteResources.Our_Vision_Detail
                    </p>
                </div>
                <div class="col-lg-5 col-md-10 mx-md-auto col-12">
                    <img class="eyes" src="~/Contents/Images/pexels-eyes-photo.png" />
                </div>
            </div>
        </div>

        <div class="our_mission">
            <div class="row">
                <div class="col-md-9 ml-md-auto col-8 ml-2">
                    <p class="text-center">
                        @SiteResources.Our_Mission_Detail
                    </p>
                </div>

                <div class="col-3">
                    @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                    {
                    <img class="img-fluid" src="~/Contents/Images/Mission_ar.png" />
                    }
                    else
                    {
                    <img class="img-fluid" src="~/Contents/Images/Mission.png" />
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<!-- #endregion -->
<!-- #region Services -->

<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-7 ml-sm-auto mr-sm-auto col-5 ml-5 mr-1">
                <img class="img-fluid Yemnak_Service_Image" src="~/Contents/Images/Service_Yemnak.png" />
            </div>
            <div class="col-lg-5 col-md-6 col-sm-5 col-4 text-light">
                <h1 class="text-right">@SiteResources.Services_Title</h1>
                <h2 class="text-right">@SiteResources.Services_Subtitle</h2>
            </div>
        </div>
    </div>
</div>

<div class="services_Section2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-11 mx-auto">
                <div id="card" class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">@SiteResources.Card_Title_First</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">
                            @SiteResources.Card_Title_First_Detail
                        </p>

                    </div>
                    <div class="card-footer">
                        <ul>
                            <li>@SiteResources.Card_Title_First_LIstitem_1</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_2</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_3</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_4</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_5</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_6</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_7</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_8</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_9</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_10</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_11</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_12</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_13</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_14</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_15</li>
                            <li>@SiteResources.Card_Title_First_LIstitem_16</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-11 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">@SiteResources.Card_Title_Second</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">
                            @SiteResources.Card_Title_Second_Detail

                        </p>

                    </div>
                    <div class="card-footer">
                        <h5>@SiteResources.Card_Title_Second_Detail2</h5>
                        <br />
                        <ul>
                            <li>@SiteResources.Card_Title_Second_LIstitem_1</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_2</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_3</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_4</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_5</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_6</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_7</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_8</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_9</li>
                            <li>@SiteResources.Card_Title_Second_LIstitem_10</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>





        <div class="membership_card">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center title">
                        @SiteResources.MembershipCard_Title
                    </h1>

                    <h2 class="text-center subtitle">
                        @SiteResources.MembershipCard_subtitle
                    </h2>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-12">

                    <div class="text-dark ">
                        <h1 id="word">
                            <span class="letter">Y</span>
                            <span class="letter">e</span>
                            <span class="letter">m</span>
                            <span class="letter">n</span>
                            <span class="letter">a</span>
                            <span class="letter">k</span>
                        </h1>
                        <div id="test"></div>
                    </div>
                </div>
            </div>
            <hr class="d-none d-sm-block" />
            <br class="d-sm-none" />
            <br class="d-sm-none" />
            <div class="row">
                <div class="col-md-6 col-sm-12 col-10 mx-auto">

                    <img class="img-fluid membershipcard_Image mmcard1" src="~/Contents/Images/Classic_Card_Website.png" data-toggle="modal" data-target="#Classic_Card_Modal">
                    <div class="classic">
                        <!-- Classic Modal -->
                        <div class="modal fade" id="Classic_Card_Modal" tabindex="-1" role="dialog" aria-labelledby="Classic_Card_Modal_Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title" id="exampleModalLabel">

                                            @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                            {
                                            <h1>كلاسيك</h1>
                                            }
                                            else
                                            {
                                            <h1>Classic Card</h1>
                                            }
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                        {
                                        <h5>عضوية بقيمة 100 دينار تشمل خدمات صاحب العضوية فقط عدد 5 طلب مجاني شهريا </h5>
                                        <p>
                                            <ul>
                                                <li>المعاملات التي لا تتطلب حضور العميل صاحب المعاملة</li>
                                                <li>عمل/تجديد/إلغاء/تحويل/إقامة الخدم و العاملين لدى الأشخاص المعنيين</li>
                                                <li>نقل البيانات من جواز إلى جواز</li>
                                                <li>استخراج /تجديد رخص القيادة</li>
                                                <li>استخراج/تجديد دفتر السيارة</li>
                                                <li>استخراج الفيزا السياحبة/الدراسية</li>
                                                <li>حجوزات الفنادق –تذاكر سفر- مطاعم- مباريات عالمية</li>
                                                <li>خدمة تأجير السيارات</li>
                                                <li>طلبات شخصية</li>
                                                <li>توصيل من و إلى المطار</li>
                                            </ul>

                                        </p>
                                        }
                                        else
                                        {
                                        <h5>Membership of 100 kd includes the member's services only (5 free orders monthly)</h5>
                                        <p>
                                            <ul>
                                                <li>Transactions that do not require the presence of the client</li>
                                                <li>Work/renewal/cancellation/transfer/establishment of servants and domestic workers of the person concerned</li>
                                                <li>Transferring data from passport to another</li>
                                                <li>Extracting/renewing driving license</li>
                                                <li>Extracting/renewing car certificate</li>
                                                <li>Extracting tourist/student visas</li>
                                                <li>Hotel/travel tickets/restaurants/international sport matches bookings</li>
                                                <li>car rental service</li>
                                                <li>personal requests</li>
                                                <li>Airport delivery</li>
                                            </ul>

                                        </p>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                        {
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">خروج</button>
                                        <button type="button" class="btn btn-light">شراء بطاقة الكلاسيك</button>
                                        }
                                        else
                                        {
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-light">Buy Classic Card</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Classic Modal End-->
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-10 mx-auto">

                    <img class="img-fluid membershipcard_Image mmcard2" src="~/Contents/Images/prestige_Card_Website.png" data-toggle="modal" data-target="#Prestige_Card_Modal">

                    <div class="Prestige">
                        <!-- Prestige Modal -->
                        <div class="modal fade" id="Prestige_Card_Modal" tabindex="-1" role="dialog" aria-labelledby="Prestige_Card_Modal_Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title" id="exampleModalLabel">
                                            @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                            {
                                            <h1>برستيج</h1>
                                            }
                                            else
                                            {
                                            <h1>Prestige Card</h1>
                                            }
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                        {
                                        <h5>عضوية بقيمة 200 د.ك تشمل خدمات صاحب العضوية فقط عدد 10 طلب مجاني شهريا </h5>
                                        <p>
                                            <ul>
                                                <li>المعاملات التي لا تتطلب حضور العميل صاحب المعاملة</li>
                                                <li>عمل/تجديد/إلغاء/تحويل/إقامة الخدم و العاملين لدى الأشخاص المعنيين</li>
                                                <li>نقل البيانات من جواز إلى جواز</li>
                                                <li>استخراج /تجديد رخص القيادة</li>
                                                <li>استخراج/تجديد دفتر السيارة</li>
                                                <li>استخراج الفيزا السياحبة/الدراسية</li>
                                                <li>حجوزات الفنادق –تذاكر سفر- مطاعم- مباريات عالمية</li>
                                                <li>خدمة تأجير السيارات</li>
                                                <li>طلبات شخصية</li>
                                                <li>توصيل من و إلى المطار</li>
                                            </ul>

                                        </p>
                                        }
                                        else
                                        {
                                        <h5>Membership of 200 kd includes the member's services only (10 free orders monthly)</h5>
                                        <p>
                                            <ul>
                                                <li>Transactions that do not require the presence of the client</li>
                                                <li>Work/renewal/cancellation/transfer/establishment of servants and domestic workers of the person concerned</li>
                                                <li>Transferring data from passport to another</li>
                                                <li>Extracting/renewing driving license</li>
                                                <li>Extracting/renewing car certificate</li>
                                                <li>Extracting tourist/student visas</li>
                                                <li>Hotel/travel tickets/restaurants/international sport matches bookings</li>
                                                <li>car rental service</li>
                                                <li>personal requests</li>
                                                <li>Airport delivery</li>
                                            </ul>

                                        </p>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                        {
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">خروج</button>
                                        <button type="button" class="btn btn-light">شراء بطاقة برستيج</button>
                                        }
                                        else
                                        {
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-light">Buy Prestige Card</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Prestige Modal End-->
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-6 col-sm-12 col-10 mx-auto">
                    <img class="img-fluid membershipcard_Image" src="~/Contents/Images/Platinum_Card_Website.png" data-toggle="modal" data-target="#Platinum_Card_Modal">

                    <div class="Platinum">
                        <!-- Platinum Modal -->
                        <div class="modal fade" id="Platinum_Card_Modal" tabindex="-1" role="dialog" aria-labelledby="Platinum_Card_Modal_Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title" id="exampleModalLabel">
                                            @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                            {
                                            <h1>بلاتينيوم</h1>
                                            }
                                            else
                                            {
                                            <h1>Platinum Card</h1>
                                            }
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                        {
                                        <h5>عضوية بقيمة 300د.ك تشمل خدمات صاحب العضوية و زوجتة  عدد 15 طلب مجاني شهريا</h5>
                                        <p>
                                            <ul>
                                                <li>المعاملات التي لا تتطلب حضور العميل صاحب المعاملة</li>
                                                <li>عمل/تجديد/إلغاء/تحويل/إقامة الخدم و العاملين لدى الأشخاص المعنيين</li>
                                                <li>نقل البيانات من جواز إلى جواز</li>
                                                <li>استخراج /تجديد رخص القيادة</li>
                                                <li>استخراج/تجديد دفتر السيارة</li>
                                                <li>استخراج الفيزا السياحبة/الدراسية</li>
                                                <li>حجوزات الفنادق –تذاكر سفر- مطاعم- مباريات عالمية</li>
                                                <li>خدمة المساعد على الطريق (الطوارئ)</li>
                                                <li>خدمة تأجير السيارات</li>
                                                <li>دفع رسوم (المدارس-كهرباء-مرور...الخ)</li>
                                                <li>خدمة تنظيم الفعاليات و المناسبات (استقبال-افراح-مناسبات خاصة)</li>
                                                <li>طلبات شخصية</li>
                                                <li>توصيل من و إلى المطار</li>
                                                <li>خدمة توصيل(الزهور-الهدايا-الشوكولا-الدعوات)</li>
                                                <li>خدمة صرف العيادي بالأعياد</li>

                                            </ul>
                                        </p>
                                        }
                                        else
                                        {
                                        <h5>Membership of 300 kd includes the member's and his wife services only only (15 orders monthly)</h5>
                                        <p>
                                            <ul>
                                                <li>Transactions that do not require the presence of the client</li>
                                                <li>Work/renewal/cancellation/transfer/establishment of servants and domestic workers of the person concerned</li>
                                                <li>Transferring data from passport to another</li>
                                                <li>Extracting/renewing driving license</li>
                                                <li>Extracting/renewing car certificate</li>
                                                <li>Extracting tourist/student visas</li>
                                                <li>Hotel/travel tickets/restaurants/international sport matches bookings</li>
                                                <li>Assistant service on the road (emergency)</li>
                                                <li>Car rental service</li>
                                                <li>Pay fees (school-electricity-traffic)</li>
                                                <li>Personal requests</li>
                                                <li>Airport delivery</li>
                                                <li>Delivery service (flowers-gifts-invitations)</li>
                                                <li>Exchange Eidiya service during Eid-al-Fitr and Eid-al-Adha</li>

                                            </ul>
                                        </p>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                        {
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">خروج</button>
                                        <button type="button" class="btn btn-light">شراء بطاقة بلاتينيوم</button>
                                        }
                                        else
                                        {
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-light">Buy Platinum Card</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Platinum Modal End-->
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-10 mx-auto">
                    <img class="img-fluid membershipcard_Image" src="~/Contents/Images/Premiere_Card_Website.png" data-toggle="modal" data-target="#Premiere_Card_Modal">
                    <div class="Premiere">
                        <!-- Premiere Modal -->
                        <div class="modal fade" id="Premiere_Card_Modal" tabindex="-1" role="dialog" aria-labelledby="Premiere_Card_Modal_Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title" id="exampleModalLabel">
                                            @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                            {
                                            <h1>بريمير</h1>
                                            }
                                            else
                                            {
                                            <h1>Premiere Card</h1>
                                            }
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                        {
                                        <h5>عضوية بقيمة  850د.ك تشمل خدمات صاحب العضوية و زوجته و الأبناء دون سن 18 سنة عدد 20 طلب مجاني شهريا .</h5>
                                        <p>
                                            <ul>
                                                <li>المعاملات التي لا تتطلب حضور العميل صاحب المعاملة</li>
                                                <li>عمل/تجديد/إلغاء/تحويل/إقامة الخدم و العاملين لدى الأشخاص المعنيين</li>
                                                <li>نقل البيانات من جواز إلى جواز</li>
                                                <li>استخراج /تجديد رخص القيادة</li>
                                                <li>استخراج/تجديد دفتر السيارة</li>
                                                <li>استخراج الفيزا السياحبة/الدراسية</li>
                                                <li>حجوزات الفنادق –تذاكر سفر- مطاعم- مباريات عالمية</li>
                                                <li>خدمة المساعد على الطريق (الطوارئ)</li>
                                                <li>خدمة تأجير السيارات</li>
                                                <li>دفع رسوم (المدارس-كهرباء-مرور...الخ)</li>
                                                <li>خدمة تنظيم الفعاليات و المناسبات (استقبال-افراح-مناسبات خاصة)</li>
                                                <li>خدمة توصيل(الزهور-الهدايا-الشوكولا-الدعوات)</li>
                                                <li>أي خدمة أخرى قد يطلبها العميل تتوافق مع سياسة و ضوابط شركة الخدمات العامة و بما لا يخالف أحكام الشريعة الإسلام.</li>
                                            </ul>

                                        </p>
                                        }
                                        else
                                        {
                                        <h5>Membership of 850 kd includes the member's and his wife with their children under 18 years services (15 free orders monthly)</h5>
                                        <p>
                                            <ul style="color: #e1f4f5">
                                                <li>Transactions that do not require the presence of the client</li>
                                                <li>Work/renewal/cancellation/transfer/establishment of servants and domestic workers of the person concerned</li>
                                                <li>Transferring data from passport to another</li>
                                                <li>Extracting/renewing driving license</li>
                                                <li>Extracting/renewing car certificate</li>
                                                <li>Extracting tourist/student visas</li>
                                                <li>Hotel/travel tickets/restaurants/international sport matches bookings</li>
                                                <li>Assistant service on the road (emergency)</li>
                                                <li>Car rental service</li>
                                                <li>Pay fees (school-electricity-traffic)</li>
                                                <li>Events planning service (Reception-weddings-special/private party)</li>
                                                <li>Delivery service (flowers-gifts-invitations)</li>
                                                <li>Any other requested service by the client is compatible with public services company policy and no contravention of Islamic law</li>
                                            </ul>

                                        </p>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft == true)
                                        {
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">خروج</button>
                                        <button type="button" class="btn btn-light">شراء بطاقة بريمير</button>
                                        }
                                        else
                                        {
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-light">Buy Premiere Card</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Premiere Modal End-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- #endregion -->
<!-- #region Clients -->

<div id="clients" class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-10 mx-auto">
                <div class="clientslick">
                    <div>
                        <img src="~/Contents/Images/CMGS.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/MOJ.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/MOH_Logo.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/KFH_logo.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/LegalLogo.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/altijari.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/Viva.png" />
                    </div>
                    <div>
                        <img src="~/Contents/Images/Warba_bank.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->

<script>
    Letters = function () {
        this.lettersDOM = null;
        this.active = null;
        this.letters = [];
        this.alphabet = ["y", "e", "m", "n", "a", "k", ];

        return this;
    };

    Letters.prototype.init = function (word) {

        this.lettersDOM = document.querySelectorAll('.letter');
        this.active = true;
        var i;
        var nextChar;
        var lettersMax = this.lettersDOM.length;

        for (i = 0; i < this.lettersDOM.length; i++) {

            if (word.charAt(i) != "")
                nextChar = word.charAt(i);
            else
                nextChar = false;

            this.letters.push(new Letter(this.lettersDOM[i], nextChar));

        }

        if (word.length > lettersMax) {

            var wordContainer = document.getElementById("word");

            for (i = lettersMax; i < word.length; i++) {
                var letterSpan = document.createElement('span');
                letterSpan.innerHTML = "";
                letterSpan.classList.add('letter');
                wordContainer.appendChild(letterSpan);
                this.letters.push(new Letter(letterSpan, word.charAt(i)));
            }
        }

        this.animate();

        return this;

    };

    Letters.prototype.animate = function () {
        var i;
        var random;
        var char;

        if (this.active) {

            window.requestAnimationFrame(this.animate.bind(this));

            var indexes = [];

            for (i = 0; i < this.letters.length; i++) {

                var current = this.letters[i];

                if (!current.isDead) {
                    random = Math.floor(Math.random() * (this.alphabet.length - 0));
                    char = this.alphabet[random];
                    current.render(char);
                } else {
                    indexes.push(i);
                }
            }

            for (i = 0; i < indexes.length; i++) {
                this.letters.splice(indexes[i], 1);
            }

            if (this.letters.length == 0) {
                this.stop();
            }
        }
    };

    Letters.prototype.start = function (word) {
        this.init(word);
    };

    Letters.prototype.stop = function () {
        this.active = false;
    };

    Letter = function (DOMElement, nextChar) {

        var scope = this;

        this.DOMEl = DOMElement;
        this.char = DOMElement.innerHTML;
        this.next = nextChar;
        this.speed = Math.floor(Math.random() * (500 - 10));
        this.total = 0;
        this.duration = 1000;
        this.animating = true;
        this.isDead = false;

        this.timer = setInterval(function () {
            if (scope.animating === true) {
                scope.total += scope.speed;
            }
            scope.animating = !scope.animating;
        }, this.speed);

        this.animate();

        return this;

    };

    Letter.prototype.animate = function () {
        var i;
        var random;

        if (!this.isDead) {
            window.requestAnimationFrame(this.animate.bind(this));
        }


        if (this.total < this.duration) {

            if (this.animating) {
                this.DOMEl.innerHTML = this.char;
            }

        } else {
            this.isDead = true;

            if (!this.next) {
                var parent = document.getElementById('word');
                parent.removeChild(this.DOMEl);
                return;
            }

            this.DOMEl.innerHTML = this.next;
        }
    };

    Letter.prototype.render = function (char) {

        if (!this.animating) {
            this.char = char;
        }

    };

    var word = ["Prestige", "Classic", "Platinum", "Priemere", "Concierge"];
    var nextWord = 1;

    var letters = new Letters();

    setTimeout(function () {

        letters.start(word[nextWord]);

        setInterval(function () {
            nextWord++;
            if (nextWord >= word.length)
                nextWord = 0;

            letters.start(word[nextWord]);
        }, 4000);

    }, 1000);



</script>